<div class="content">
    <div class="content-header">
        <span class="title">建班</span>
    </div>
    <div class="content-body">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-checked-primary active">
                <input type="radio" name="options" id="option2" autocomplete="off"> 按周循环
            </label>
            <label class="btn btn-checked-primary">
                <input type="radio" name="options" id="option3" autocomplete="off"> 自定义
            </label>
        </div>
    </div>
</div>