<div class="content">
    <div class="content-header">
        <span class="title">班级管理</span>
        <div class="action-bar pull-right">
            <button class="btn btn-success" ui-sref="edu-class-add">新建</button>
            <button class="btn btn-default" ui-sref=".detail({ classId: '5851003f4972b5e34828517e'})">详细</button>
        </div>
    </div>
    <div class="content-body">
        <table class="table">
            <!--表头-->
            <tr>
                <th>学校名称</th>
                <th>省-市</th>
                <th>联系人</th>
                <th>电话</th>
                <th>注册日期</th>
                <th>当前状态</th>
                <th>完整度</th>
                <th class='right'>操作</th>
            </tr>
            <tr>
                <td>dskaldlkjsakjdslakjkdsalkdsaljkjdksa</td>
                <td>dskaldlkjsakjdslakjkdsalkdsaljkjdksa</td>
                <td>dskaldlkjsakjdslakjkdsalkdsaljkjdksa</td>
                <td>dskaldlkjsakjdslakjkdsalkdsaljkjdksa</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
            </tr>
            <tr>
                <td>dskaldlkjsakjdslakjkdsalkdsaljkjdksa</td>
                <td>dskaldlkjsakjdslakjkdsalkdsaljkjdksa</td>
                <td>dskaldlkjsakjdslakjkdsalkdsaljkjdksa</td>
                <td>dskaldlkjsakjdslakjkdsalkdsaljkjdksa</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
            </tr>
            <tr>
                <td>dskaldlkjsakjdslakjkdsalkdsaljkjdksa</td>
                <td>dskaldlkjsakjdslakjkdsalkdsaljkjdksa</td>
                <td>dskaldlkjsakjdslakjkdsalkdsaljkjdksa</td>
                <td>dskaldlkjsakjdslakjkdsalkdsaljkjdksa</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
            </tr>
            <tr>
                <td>dskaldlkjsakjdslakjkdsalkdsaljkjdksa</td>
                <td>dskaldlkjsakjdslakjkdsalkdsaljkjdksa</td>
                <td>dskaldlkjsakjdslakjkdsalkdsaljkjdksa</td>
                <td>dskaldlkjsakjdslakjkdsalkdsaljkjdksa</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
            </tr>
        </table>
    </div>
</div>